---

---

<div class="position-info h-fit text-center">Image coordinates</div>
<div id="openseadragon1" class="grid size-full w-full grow"></div>
<script>
	import OpenSeadragon, { type PointerMouseTrackerEvent } from "openseadragon"

	const bucketUrl = "https://dzi-bucket.duclonghoang.com"
	const imageFolder = "logmap_files"

	const viewer = OpenSeadragon({
		id: "openseadragon1",
		prefixUrl: "//openseadragon.github.io/openseadragon/images/",
		tileSources: {
			height: 20000,
			width: 60000,
			tileSize: 254,
			tileOverlap: 1,
			getTileUrl: (level, x, y) => {
				const url = `${bucketUrl}/${imageFolder}/${level}/${x}_${y}.jpeg`
				// console.log(url)
				return url
			},
		},
		showNavigator: true,
		navigatorPosition: "TOP_LEFT",
		navigationControlAnchor: OpenSeadragon.ControlAnchor.TOP_RIGHT,
		// debugMode: true,
	})

	var positionEl = document.querySelector<HTMLDivElement>(".position-info")

	viewer.addHandler("open", function () {
		const tracker = new OpenSeadragon.MouseTracker({
			element: viewer.element,
			moveHandler: (event) => {
				const webPoint = (event as PointerMouseTrackerEvent).position
				const viewportPoint = viewer.viewport.pointFromPixel(webPoint)
				const imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint)

				function mapRange(value: number, oldMin: number, oldMax: number, newMin: number, newMax: number) {
					return (newMin + ((value - oldMin) / (oldMax - oldMin)) * (newMax - newMin)).toPrecision(10)
				}

				const x = mapRange(imagePoint.x, 0, 60000, 3.5, 4.0)
				const y = mapRange(imagePoint.y, 0, 20000, 1, 0)

				positionEl!.innerHTML = "Image coordinates: (" + x + ", " + y + ")"
			},
		})

		tracker.setTracking(true)
	})
</script>
