---
import ConfigDialog from "@/components/ConfigDialog"
import { dziVisConfig } from "@/configStore"

const $dziVisConfig = dziVisConfig.value
const precision = $dziVisConfig.precision
---

<div class="flex h-fit flex-col justify-between px-4 py-2 text-sm sm:flex-row sm:text-base">
	<span class="position-info">
		{`x:${(0.0).toPrecision(precision)}, y:${(0).toPrecision(precision)}`}
	</span>
	<ConfigDialog client:load />
</div>

<div id="openseadragon1" class="grid size-full w-full grow"></div>
<script>
	import OpenSeadragon, { type PointerMouseTrackerEvent } from "openseadragon"
	import { bucketConfig, dziVisConfig } from "@/configStore"

	const $dziVisConfig = dziVisConfig.value
	const $bucketConfig = bucketConfig.value
	const bucketUrl = `https://${$bucketConfig.domain}/${$bucketConfig.tenant}:${$bucketConfig.name}`
	const imageFolder = bucketConfig.value.imageFolder

	const viewer = OpenSeadragon({
		id: "openseadragon1",
		prefixUrl: "//openseadragon.github.io/openseadragon/images/",
		tileSources: {
			height: $dziVisConfig.height,
			width: $dziVisConfig.width,
			tileSize: 254,
			tileOverlap: 1,
			getTileUrl: (level, x, y) => {
				const tileUrl = `${bucketUrl}/${imageFolder}/${level}/${x}_${y}.${$bucketConfig.imageFormat}`
				return tileUrl
			},
		},
		showNavigator: true,
		navigatorPosition: "TOP_LEFT",
		navigationControlAnchor: OpenSeadragon.ControlAnchor.TOP_RIGHT,
		gestureSettingsMouse: {
			clickToZoom: false,
			dblClickToZoom: true,
		},
		// debugMode: true,
	})

	viewer.canvas.style.cursor = "crosshair"
	const positionEl = document.querySelector<HTMLSpanElement>(".position-info")

	function getCoordinates(webPoint: OpenSeadragon.Point) {
		const viewportPoint = viewer.viewport.pointFromPixel(webPoint)
		const imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint)

		function mapRange(value: number, oldMin: number, oldMax: number, newMin: number, newMax: number) {
			return (newMin + ((value - oldMin) / (oldMax - oldMin)) * (newMax - newMin)).toPrecision(15)
		}

		const x = mapRange(imagePoint.x, 0, $dziVisConfig.width, $dziVisConfig.xMin, $dziVisConfig.xMax)
		const y = mapRange(imagePoint.y, 0, $dziVisConfig.height, $dziVisConfig.yMax, $dziVisConfig.yMin)

		return { x, y }
	}

	viewer.addHandler("open", function () {
		const tracker = new OpenSeadragon.MouseTracker({
			element: viewer.element,
			moveHandler: (event) => {
				const { x, y } = getCoordinates((event as PointerMouseTrackerEvent).position)
				positionEl!.textContent = `x:${x}, y:${y}`
			},
		})
		tracker.setTracking(true)
	})

	viewer.addHandler("canvas-click", (event) => {
		const { x, y } = getCoordinates(event.position)
		positionEl!.textContent = `x:${x}, y:${y} -> copied to clipboard`
		navigator.clipboard.writeText(`x:${x}, y:${y}`)
	})
</script>
